/* General styles */

body {
  font-family: 'Work Sans', sans-serif;
}

.banner-title {
  font-size: 2rem;
  font-weight: bold;
}
.subheading {
  font-family: 'Roboto', sans-serif;
  font-size: bold;
  font-size: 1.3rem;
  line-height: 1.2;
}

.details {
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
}

a {
  color: white;
}
/* Header */

header {
  height: 64px;
  background-color: #2A6CB0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  border: 1px solid red;
}

.logo-container {
  display: flex;
  align-items: center;
  height: 32px;
  margin-left: 24px;
  font-size: 1.5rem;
}

.logo-container img {
  width: 50px;
  height: auto;

}
.colmar {
  font-weight: bold;
}

header nav ul{
  display: flex;
  align-items: center;
  height: 32px;
  margin-right: 24px;
}

header li {
  display: inline-block;
}

.bar {
  height: 64px;
  width: 16px;
  background-color: black;
  opacity: .5;
}

/* Banner section code*/

/* Use banner and column containers for all 4 sections */
/* New plan: label each banner container separately. this will make things easier */

.banner-container1, .banner-container2, .banner-container3, .banner-container4 {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 100%;
  border: 1px solid red;
}

.column1 {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 32px 24px;
  border: 1px solid green;
}

.column2 {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: auto;
  margin: 32px 0;
  border: 1px solid blue;
}

/* Banner1 take 3 SUCCESS!*/

.banner-container1 {
  color: white;
}

.first-banner-img {
  width: 100%;
}
.banner-container1 .column2 {
  height: auto;
  justify-content: center;
  margin-bottom: 32px;
}

.stuff-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #2A6CB0;
  border-radius: 25px;
  padding: 10px;
  border: 1px solid teal;
  width: 60%;
}

.banner-container1 .column2 h2 {
  margin: 15px 0;
}

.start-box {
  display: flex;
  justify-content: center;
  background-color: #FFAB2D;
  transition-property: background-color;
  transition-duration: 1.5s;
  border-radius: 10px;
  padding: 5px;
}

.start-box:hover {
  background-color: #BA6F00;
}

.start-box span {
  color: white;
  font-size: 1.4rem;
  margin: 8px 0;
}

/* Banner2 take 2*/

.banner-container2 {
  color: white;
  background-color: #71A1D3;
}

.banner-container2 .column1 .banner-title {
  margin: 32px 0 24px 0
}

.banner-container2 .column1 img {
  width: 100%;
}

.banner-container2 .column2 {
  margin-bottom: 32px;
  height: auto;
}

.orientation-box, .campus-box, .lecture-box {
  display: flex;
  flex-direction: row;
  border: 1px solid green;
  width: 100%;
}

.lecture-box {
  background-color: #0C549E;
}

.orientation-box .image, .campus-box .image, .lecture-box .image {
  width: 35%;
  height: 100%;
}

.orientation-box .image {
  margin: 0 24px 16px 16px;
}

.campus-box .image {
  margin: 16px 24px 16px 16px;
}

.lecture-box .image {
  margin: 16px 24px 16PX 16px
}

.text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid pink;
  width: 65%
}

.details {
  margin: 8px 0;
}

/* Banner 3 */
/* I'm hoping this goes better than the other sections */
/* It's already going better! */
.banner-container3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  /* background-color: #4882BF; */
  width: 100%;
}

.banner-container3 .banner-title{
  margin-top: 32px;
  padding: 8px 8px;
  background-color: #2A6CB0;
  border-radius: 25px;
  padding: 20px;
  color: white;
}

.course-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 32px 72px;
  color: white;
  border: 1px solid green;
}

.course {
  width: 30%;
  height: 25rem;
  background-color: white;
  border-radius: 25px;
  padding: 10px;
  background-color: #2A6CB0;
  border: 1px solid red;
}

.course img {
  width: 100%;
  border-radius: 25px;
}

.course:nth-child(3n+2) {
  margin: 0 10px;
}

.course:nth-child(1n+4) {
  margin-top: 10px;
}

.course h3 {
  font-size: 2rem;
  font-weight: 500;
  margin: 16px 0 8px 16px;
}

.course span {
  margin-left: 16px;
  font-size: 1.3rem;
}

.course p {
  margin-left: 16px;
  margin-top: 8px;
  line-height: 1.3;
}

/* Banner 4 */

.banner-title4 {
  font-size: 2rem;
  font-weight: bold;
  margin: 32px 0;
  text-align: center;
}

.banner-container4 video {
  height: auto;
  width: 100%;
}

.banner-container4 .column1 .subheading {
  margin-top: 24px;
  margin-bottom: 8px;
}

.fisma-box, .now-then-box {
  display: flex;
  flex-direction: row;
  border: 1px solid green;
  width: 100%;
}

.fisma-box .image, .now-then-box .image {
  width: 35%;
  height: auto;
  height: 100%;
  margin: 16px 16px;
}

/* Footer  */

footer {
  display: flex;
  justify-content: space-between;
  background-color: #2A6CB0;
}

.copyright {
  margin: 16px 0 32px 24px;
}

.terms-privacy {
  margin: 16px 0 32px 0;
}
