/* General styles */

.banner-title {
  font-size: 2rem;
  font-weight: bold;
}
.subheading {
  font-size: bold;
  font-size: 1.3rem;
  line-height: 1.2;
}


/* Header */

header {
  height: 64px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid red;
}

.logo-container {
  display: flex;
  align-items: center;
  height: 32px;
  margin-left: 24px;
}

header nav ul{
  display: flex;
  align-items: center;
  height: 32px;
  margin-right: 24px;
}

header li {
  display: inline-block;
}

.bar {
  height: 64px;
  width: 16px;
  background-color: skyblue;
}

/* Banner section code*/

/* Use banner and column containers for all 4 sections */
/* New plan: label each banner container separately. this will make things easier */

.banner-container1, .banner-container2, .banner-container3, .banner-container4 {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 100%;
  border: 1px solid red;
}

.column1 {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 32px 24px;
  border: 1px solid green;
}

.column2 {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: auto;
  margin-top: 32px;
  border: 1px solid blue;
}

/* Banner1 take 3 SUCCESS!*/

.banner-container1 {
  background-color: lightgray;
}

.first-banner-img {
  width: 100%;
}
.banner-container1 .column2 {
  height: auto;
  justify-content: center;
  margin-bottom: 32px;
}

.stuff-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid teal;
  width: 60%;
}

.banner-container1 .column2 h2 {
  margin: 15px 0;
}

.start-box {
  display: flex;
  justify-content: center;
  background-color: gray;
}

.start-box span {
  color: white;
  margin: 8px 0;
}

/* Banner2 take 2*/

.banner-container2 .column1 .banner-title {
  margin: 32px 0 24px 0
}

.banner-container2 .column1 img {
  width: 100%;
}

.latin {
  font-size: 1.5rem;
  line-height: 1.5;
}

.tagline {
  margin: 32px 0;
}

.banner-container2 .column2 {
  margin-bottom: 32px;
  height: auto;
}

.orientation-box, .campus-box, .lecture-box {
  display: flex;
  flex-direction: row;
  border: 1px solid green;
  width: 100%;
}

.orientation-box .image, .campus-box .image, .lecture-box .image {
  width: 35%;
  height: 100%;
}

.orientation-box .image {
  margin: 0 24px 16px 16px;
}

.campus-box .image {
  margin: 16px 24px 16px 16px;
}

.lecture-box .image {
  margin: 16px 24px 0 16px
}

.text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid pink;
  width: 65%
}

.details {
  margin: 8px 0;
}

/* Banner 3 */
/* I'm hoping this goes better than the other sections */
/* It's already going better! */
.banner-container3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  width: 100%;
}

.banner-container3 .banner-title{
  margin-top: 32px;
}

.course-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 32px 72px;
  border: 1px solid green;
}

.course {
  width: 30%;
  height: 25rem;
  background-color: white;
  border-radius: 25px;
  padding: 10px;
  border: 1px solid red;
}

.course img {
  width: 100%;
}

.course:nth-child(3n+2) {
  margin: 0 10px;
}

.course:nth-child(1n+4) {
  margin-top: 10px;
}

.course h3 {
  font-size: 2rem;
  font-weight: 500;
  margin: 16px 0 8px 16px;
}

.course span {
  margin-left: 16px;
  font-size: 1.3rem;
}

.course p {
  margin-left: 16px;
  margin-top: 8px;
  line-height: 1.3;
}

.course span, p {
  color: gray;
}
