
/* Header */

header {
  height: 64px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid red;
}

.logo-container {
  display: flex;
  align-items: center;
  height: 32px;
  margin-left: 24px;
}

header nav ul{
  display: flex;
  align-items: center;
  height: 32px;
  margin-right: 24px;
}

header li {
  display: inline-block;
}

.bar {
  height: 64px;
  width: 16px;
  background-color: skyblue;
}

/* Banner */




/* Banner1 take 2 */
/* This is going way better! */

.banner-container {
  display: flex;
  flex-direction: row;
  background-color: lightgray;
  height: auto;
  width: 100%;
}
.banner-container img {
  width: 60%;
  height: 30rem;
  margin: 32px 24px;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid red;
  height: 30rem;
  margin: 32px 0;
  width: 20%;
}

.text-container h1 {
  font-size: 2rem;
  font-weight: bold;
}

.text-container h2 {
  font-size: bold;
  font-size: 1.3rem;
  line-height: 1.2;
  margin: 15px 0;
}

.start-box {
  display: flex;
  justify-content: center;
  background-color: gray;
}

.start-box span {
  color: white;
  margin: 8px 0;
}
/* Banner2 */

.banner2-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.column1 {
  border: 1px solid green;
  width: 60%;
  display: flex;
  margin: 32px 24px;
  flex-direction: column;
}

.column1 h1 {
  font-size: 3rem;
  font-weight: bold;
  margin: 32px 0 24px 0
}

.column1 img {
  width: 100%;
}
.latin {
  font-size: 1.5rem;
  line-height: 1.5;
}

.column2 {
  border: 1px solid yellow;
  width: 40%;
  display: flex;
  flex-direction: column;
  border-left: 1px solid gray;
  /* margin: 32px 0 32px 0; */
}

.orientation-box {
  margin-top: 16px;
}

.orientation-box, .campus-box, .lecture-box {
  display: flex;
  flex-direction: row;
}

.lecture-box {
  margin-bottom: 32px;
}
.image {
  width: 35%;
  height: auto;
  margin: 16px 24px 16px 16px;
}
.text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%
}

/* Banner 3 */
/* I'm hoping this goes better than the other sections */
/* It's already going better! */
.banner3-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  width: 100%;
}

.banner3-container h1{
  font-size: 3rem;
  font-weight: bold;
  margin-top: 32px;
}

.course-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 32px 72px;
  border: 1px solid green;
}

.course {
  width: 30%;
  height: 25rem;
  background-color: white;
  border-radius: 25px;
  padding: 10px;
  border: 1px solid red;
}

.course img {
  width: 100%;
}

.course:nth-child(3n+2) {
  margin: 0 10px;
}

.course:nth-child(1n+4) {
  margin-top: 10px;
}

.course h3 {
  font-size: 2rem;
  font-weight: 500;
  margin: 16px 0 8px 16px;
}

.course span {
  margin-left: 16px;
  font-size: 1.3rem;
}

.course p {
  margin-left: 16px;
  margin-top: 8px;
  line-height: 1.3;
}

.course span, p {
  color: gray;
}
